 
 .header{

    color: var(--primary);
    width: 100%;
    
 }
 

.icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    width: 100%;
    margin-top: 2rem;
 
    
}

.icons img{
    width: 16px;
    height: 16px;
    filter: brightness(400%);
}

.icons ul{
    display: flex;
    gap: 1rem;
}

.menu_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
   
    width: 100%  
}

    
.menu_container img{
    filter: invert();
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
  
}

.menu_container ul li{
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 2.6px;
}

.menu_container ul li h1{
    font-size: 30px;
    font-weight: 700;
}

.menu_container nav{
    margin-bottom: 1rem;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;    
       
}

@media screen and (max-width: 1100px) {
    .menu ul {
        display: none
    }
    .menu_container img{
        display: none;
    }
    
}

.hero{
    height: 650px;
    overflow: hidden;
}

@media screen and (max-width: 1100px){
    .hero {
        height: 400px;
        
    }
    .hero img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
}

.hero img{
    width:100%;
}
