

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;

}
.title{
display: flex;
justify-content: center;
align-items: center;
margin-top: 3rem;
margin-bottom: 1.5rem;

}
h2{
    font-size: 32px;
}
.main figure h3 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2.8px;
}

.main figure h4{
    font-size: 13.6px;
    font-weight: 100;
    letter-spacing: 0.4px;
}
